
{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente{% endblock %}

{% block body %}
<div class="container mt-5">
<div class="row">
<div class="col-md-12">
<h1>Conditions Générales de Vente</h1>
<p><strong>Préambule</strong></p>
<p>Le site de vente en ligne MiruWear, géré par Cécilia Développeur web & mobile, propose des produits à la vente.</p>
<p><strong>Article 1 – Définitions</strong></p>
<p><em>Conditions Générales de Vente :</em> les termes et conditions régissant les ventes entre MiruWear et le CLIENT.<br>
<em>Commande :</em> l'ordre d'achat du CLIENT pour un ou plusieurs Produit(s) ou Service(s).<br>
<em>Site Internet :</em> le site web de MiruWear.<br>
<em>Produit :</em> un article ou un service offert à la vente sur le site internet de MiruWear.<br>
<em>CLIENT :</em> toute personne physique ou morale procédant à un achat sur miruwear.fr.</p>
<p><strong>Article 2. Objet</strong></p>
<p>Les Conditions Générales de Vente définissent les relations contractuelles entre MiruWear et le CLIENT pour tout achat effectué sur le site internet miruwear.fr.</p>
<p><strong>Article 3. Tarifs</strong></p>
<p>Les prix des produits sont en Euros (€) toutes taxes comprises. MiruWear se réserve le droit de modifier les prix à tout moment, mais le prix au moment de la commande sera applicable.</p>
{% endblock %}