{% extends 'base.html.twig' %}

{% block title %}Mentions Légales - Miruwear{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Mentions Légales - Miruwear</h1>
          <p><strong>Éditeur:</strong> Le site Miruwear est publié et géré par Cécilia, développeur web & mobile.</p>
          <p><strong>Publication:</strong> Cécilia, développeur web & mobile.</p>
          <p><strong>Hébergeur:</strong> Ce site est hébergé par [insérer le nom de l'hébergeur ici].</p>
          <p><strong>Propriété intellectuelle:</strong> La charte graphique du site a été créée par [insérer le créateur ici]. Tous les éléments graphiques, la structure et, plus généralement, le contenu du site Miruwear sont protégés par le droit d'auteur, le droit des marques et le droit des dessins et modèles...</p>
          <p><strong>Collecte et utilisation des données à caractère personnel:</strong> La collecte des données à caractère personnel pour les prestations proposées par le site Miruwear.fr ainsi que leur traitement sont effectués dans le respect de la loi « Informatique, Fichiers et Libertés » du 6 janvier 1978 modifiée et ses décrets d’application...</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}