{% extends 'base.html.twig' %}


{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Créer une nouvelle catégorie</h1>
    <a href="{{ path('app_category_index') }}"class="btn btn-light">retour à la liste</a>
    {{ include('category/_form.html.twig') }}
</div>
{% endblock %}
