{% extends 'backoffice.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Créer un nouveau produit</h1>

    <table class="table">
        <tr>
            <td>{{ include('product/_form.html.twig') }}</td>
        </tr>
    </table>

    <a href="{{ path('product')}}">Retour à la collection</a>
</div>
{% endblock %}