{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}

    <div class="contact">
    <h1>Formulaire de contact </h1>
        {{form_start(form)}}
        {{form_rest(form)}}
        {{form_end(form)}}
    </div>
{% endblock %}
