{% extends 'backoffice.html.twig' %}

{% block title %}Nouveau modèle{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Créer un nouveau modèle</h1>

    <table class="table">
        <tr>
            <td>{{ include('model/_form.html.twig') }}</td>
        </tr>
    </table>

    <a href="{{ path('app_model_index') }}">Retour à la liste</a>
</div>
{% endblock %}